﻿
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form>
    <p>Username: </p>
    <input type="text" name="username"/>
    <br />
    <p>Password: </p>
    <input type="password" name="password"/>
    <br />
    <a asp-controller="Login" asp-action="Enter">Login</a>
    <br />
    <a>Register</a>
</form>

